<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>backbase</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>Backbase Artifactory Repository</id>
                    <url>https://artifacts.backbase.com/repo/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>Backbase Artifactory Repository</id>
                    <url>https://artifacts.backbase.com/repo/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>Backbase Artifactory Repository</id>
            <username>${ARTIFACTORY_USERNAME}</username>
            <password>${ARTIFACTORY_PASSWORD}</password>
        </server>

        <server>
            <id>backbase.artifacts.repository</id>
            <username>${ARTIFACTORY_USERNAME}</username>
            <password>${ARTIFACTORY_PASSWORD}</password>
        </server>
    </servers>
</settings>